@import "../../../scss/variables";

.images {
  margin-top: 0.7rem;
  margin-bottom: 2rem;

  > img {
    cursor: pointer;
    margin-right: 1.7rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.4s ease;

    &.active {
        border-color: $accent;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}
